.UserButton {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 15px;

  .welcome {
    text-transform: uppercase;
    font: var(--font-s);
    color: var(--third-text-color);
  }

  .name {
    display: flex;
    align-items: center;

    font: var(--font-m);
    color: white;

    .triangle {
      margin-left: 5px;
    }
  }

  .btns {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 130%;
    z-index: 10;
  }

  .btn {
    text-align: start;
    cursor: pointer;
    font: var(--font-m);
    color: white;
  }
}
