@import "@/widgets/Sidebar/UI/variables";

.TelegramChatSidebar {
  position: absolute;
  left: 0;
  bottom: 0;

  transition: transform 0.3s;

  @extend %SidebarStyles;
  min-height: calc(100% - (var(--logo-height) + var(--sidebar-padding) * 1.7));
  border-top: none;
  box-shadow: inset -10px -10px 10px rgb(22 23 23 / 50%);
  padding: var(--sidebar-padding) 0;

  .closeBtn,
  .openBtn {
    cursor: pointer;
  }
  .closeBtn {
    margin-left: 20px;
  }
  .openBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    $width: 20px;
    left: -$width;
    top: 50%;

    width: $width;
    height: $width * 2;

    background: var(--primary-bg-color);

    .triangle {
      transform: rotate(270deg);
    }
    .triangle.close {
      transform: rotate(90deg);
    }
  }
}
.TelegramChatSidebar.close {
  transform: translateX(100%);
}
