.UILoaderPage {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  width: 100%;
  height: 100vh;

  z-index: var(--ui-loader-page);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.loader {
  left: 0;
}
