.UIButton.default {
  padding: 12px 15px;
}

.UIButton.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $selectPaddings;
}

.UIButton.select.selectActive {
  border-radius: $br $br 0 0;
}
