@import "../../../variables";

.SidebarLinks,
.wrapper {
  display: flex;
  flex-direction: column;
}
.SidebarLinks {
  .name {
    font: var(--font-s);
    text-transform: uppercase;
    color: var(--third-text-color);
  }

  padding-bottom: $SidebarLinks--paddingToBorderBottom;
  border-bottom: 1.5px dashed #545454;
}
.wrapper {
  row-gap: 25px;
  margin-top: 15px;
}
