.UIInput {
  width: 284px;

  .input {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    border-radius: 16px;
    border: none;
    background: var(--translucent-bg-color-2);
    color: var(--primary-text-color);

    &::placeholder {
      color: var(--lightgray);
      font-weight: 300;
    }
  }
  .input:disabled {
    background-color: var(--lightgray);
    border-color: var(--lightgray);
  }
}

// TODO
.fullwidth {
  width: 100%;
}

.error {
  color: var(--red-10);
  font-size: 13px;
}
