$mb: 15px;
$hoverColor: black;
@mixin m_transition($prop) {
  transition: $prop 0.3s;
}

.UIStatisticsCard,
.addNew {
  width: 350px;
  min-height: 200px;
  border-radius: 12px;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.25);
  background-color: var(--primary-bg-color);

  @include m_transition(background-color);

  &:hover {
    background-color: var(--primary-color);
  }
}

.UIStatisticsCard {
  padding: 25px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $mb;

    .title {
      font: var(--font-l);
      @include m_transition(color);
    }
  }

  &:hover {
    .header {
      .title {
        color: $hoverColor;
      }
    }

    :global {
      .UIStatisticsCardMiddleChildren,
      .UIStatisticsCardFilterChildren {
        color: $hoverColor;
      }
    }

    .swapIcon {
      path {
        fill: $hoverColor;
      }
    }
  }
}

.addNew {
  display: flex;
  align-items: center;
  justify-content: center;

  .plus {
    display: block;
    width: 35%;
    height: 35%;

    path {
      @include m_transition(stroke);
    }
  }

  &:hover {
    .plus {
      path {
        stroke: $hoverColor;
      }
    }
  }
}

:global {
  .UIStatisticsCardMiddleChildren,
  .UIStatisticsCardFilterChildren {
    @include m_transition(color);
  }

  .UIStatisticsCardMiddleChildren {
    font: var(--font-title-l);
    font-weight: bold;
    margin-bottom: $mb;
  }

  .UIStatisticsCardFilterChildren {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--green);
  }
}

.swapIcon {
  path {
    @include m_transition(fill);
    fill: var(--green);
  }
}

.pointer {
  cursor: pointer;
}
