$global-text: (
  --font--family-main: (
    Inter,
    sans-serif,
  ),
  // --------- text-s ↴ ----------
  --font-size-s: 10px,
  --font-line-s: 18px,
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font--family-main),
  // --------- text-m ↴ ----------
  --font-size-m: 14px,
  --font-line-m: 22px,
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font--family-main),
  // --------- text-l ↴ ----------
  --font-size-l: 20px,
  --font-line-l: 28px,
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font--family-main),
  // --------- title-s ↴ ----------
  --font-size-title-s: 20px,
  --font-line-title-s: 28px,
  --font-title-s: var(--font-size-title-s) / var(--font-line-title-s)
    var(--font--family-main),
  // --------- title-m ↴ ----------
  --font-size-title-m: 32px,
  --font-line-title-m: 40px,
  --font-title-m: var(--font-size-title-m) / var(--font-line-title-m)
    var(--font--family-main),
  // --------- title-l ↴ ----------
  --font-size-title-l: 58px,
  --font-line-title-l: 66px,
  --font-title-l: var(--font-size-title-l) / var(--font-line-title-l)
    var(--font--family-main),
);
