$global-colors: (
  --green: #00de73,
  --red: #f21010,
  --lightgray: #e6e6e6,
  --primary-text-color: white,
  --secondary-text-color: #adb3cc,
  --third-text-color: #585f80,
  --primary-bg-color: #161717,
  --secondary-bg-color: #242424,
  --translucent-bg-color-2: rgba(0, 0, 0, 0.2),
  --translucent-bg-color-7: rgba(0, 0, 0, 0.7),
  --translucent-bg-color-8: rgba(0, 0, 0, 0.8),
  --translucent-bg-color-9: rgba(0, 0, 0, 0.9),
);
