.UIButton {
  --btn-primary-color: var(--primary-color);
  --btn-primary-bg-color: var(--primary-bg-color);

  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;

  .triangle {
    border-top-color: var(--btn-primary-bg-color);
    margin-left: 10px;
  }
}

// variants
@import "styles/variants";

// sizes
@import "styles/sizes";

// colors
@import "styles/colors";

// themes
@import "styles/themes";
