.UIButton {
  cursor: pointer;
  padding: 12px 15px;
  font-weight: 600;
  border-radius: 4px;
}

.UIButton

// sizes
.UIButton.small {
  width: 100px;
}
.UIButton.medium {
  width: 150px;
}
.UIButton.large {
  width: 240px;
}
.UIButton.fullwidth {
  width: 100%;
}

// themes
%fill {
  color: var(--primary-bg-color);
  background: var(--primary-color);
}

.UIButton.outline {
  outline: 1px solid var(--primary-color);
  color: var(--primary-color);

  transition-property: color, background;
  transition-duration: 0.3s;

  &:hover {
    @extend %fill;
  }
}
.UIButton.fill {
  @extend %fill;
}
.UIButton.clear {
  background: none;
  padding: 0;
  margin: 0;
}
