$br: 16px;
.UIButton {
  position: relative;
  --btn-primary-color: var(--primary-color);
  --btn-primary-bg-color: var(--primary-bg-color);

  cursor: pointer;
  font-weight: 600;
  border-radius: $br;

  .triangle {
    border-top-color: var(--btn-primary-bg-color);
  }
}

$selectPaddings: 8px 11px;
.selectBody {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  border-radius: 0 0 $br $br;
  padding: $selectPaddings;
  background: var(--translucent-bg-color-8);
}

// variants
@import "styles/variants";

// sizes
@import "styles/sizes";

// colors
@import "styles/colors";

// themes
@import "styles/themes";
