@import url("lib/reset.css");
@import url("config/fonts.css");
@import "variables/global";
@import "themes";

body {
  font: var(--font-m);
  color: var(--primary-text-color);
  background: var(--primary-bg-color);
  min-height: 100vh;
  overflow: hidden;
}

.container {
  width: var(--container--width);
  margin: 0 auto;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: var(--page-wrapper-padding-top);
  padding-top: 0;
  background-color: var(--secondary-bg-color);
}

.page-mt {
  margin-top: var(--page-margin-top);
}

.focus--primary {
  &:focus,
  &:focus-visible,
  &:active {
    outline: 1px solid var(--primary-color);
  }
}
