.UITable {
  $br: 15px;
  border-radius: $br;
  height: calc(95vh - var(--navbar-height));
  background: var(--translucent-bg-color-2);

  .thead {
    border-bottom: 1px solid black;
  }

  .tr {
    padding: 10px 0;
    display: grid;
    text-align: center;
  }

  .firstLetterToUppercase {
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
